



.clauderecipe--suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.clauderecipe--suggested-recipe-container ul li, .clauderecipe--suggested-recipe-container ol li {
  margin-bottom: 8px;
}